<div class="card">
  <p-card>
<h1 style="color: #9C27B0">Lista de Time</h1>
    <div class="row" style="margin-left: 5px">
      <p-checkbox id="checkTodas" [(ngModel)]="checkTodas" [binary]="true" inputId="binary"
      (click)="checkBoxChange(checkTodas)"></p-checkbox>
      <div style="margin-top: 7px; margin-left: 5px">
        <label> Todas </label>
      </div>
    </div>
    <p-table [value]="times" [scrollable]="true" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="color: #9C27B0">TIME</th>
          <th style="color: #9C27B0">TÉCNICO</th>
          <th style="color: #9C27B0">AÇÕES</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-times>
        <tr>
          <td>{{times.nome}}</td>
          <td>{{times.nomePerfil}}</td>
          <td>
          <button *ngIf="times.status != 'Excluido'"
                  pButton pRipple type="button"
                  icon="pi pi-pencil" (click)="editar(times)"
                  class="p-button-rounded p-button-info p-button-text"></button>
            <button *ngIf="times.status != 'Excluido'"
                    pButton pRipple type="button"
                    icon="pi pi-trash" (click)="excluir(times.id)"
                    class="p-button-rounded p-button-danger p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
