<form class="needs-validation" name="timeForm" #timeForm="ngForm" (ngSubmit)="onSubmit(timeForm)">
  <p-card class="card">
    <p style="color: #9C27B0; margin-top: 0">CADASTRO TIME</p>

    <div style="margin-bottom: 10px">

      <div clas="row">
        <div class="col"><i class="pi pi-users" style="color: #9C27B0"></i>
          <input pInputText class="inputs" [(ngModel)]="resource.nome" placeholder="Nome do Time" type="text" name="nome">
        </div>
      </div>
      <div style="margin-top: 5px;">
        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="tecnicos" [(ngModel)]="resource.nomePerfil"
                    name="perfil" optionLabel="nome"
                    optionValue="nome"
                    placeholder="Selecione um técnico"

        ></p-dropdown>
      </div>
    </div>
  </p-card>

  <div style="margin-top: 5px;margin-right: 5px; float: right">
    <button style="float: right;  margin-left: 5px" pButton pRipple type="button" label="Cadastre-se" iconPos="left"
            type="submit"
            class="p-button-outlined p-button-help"></button>
  </div>
  <div style="margin-top: 5px">
    <button style=" margin-right: 5px; float: right; margin-bottom: 5px" iconPos="left" pButton type="button"
            (click)="voltar()"
            class="p-button-help"><i class="pi pi-arrow-left " style="margin-right: 5px"></i>Voltar
    </button>
  </div>
</form>
