<div class="container-fluid container">

  <p-card class="card" header="Cadastrar Time" [style]="{'width': '18rem', 'margin-bottom': '2em'}">
    <div style="margin-bottom: 10px">
      <input type="text" placeholder="Nome do Time" type="text" name="nome" pInputText/>
    </div>
    <div style="margin-bottom: 10px">
      <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="tecnicos" name="perfil" optionLabel="nome"
                  placeholder="Selecione um técnico"
      ></p-dropdown>
    </div>
    <div style="margin-bottom: 10px">
      <p-button label="Cadastrar Time" iconPos="left" type="submit"></p-button>
    </div>
    <div style="margin-bottom: 5px">
      <button label="Voltar" iconPos="left" pButton type="button">
      </button>
    </div>

  </p-card>
