<div class="card">
  <p-card>
    <h1 style="color: #9C27B0">Lista de Pessoas</h1>
    <div class="row" style="margin-left: 5px ">
      <p-checkbox id="checkTodas" [(ngModel)]="checkTodas" [binary]="true" inputId="binary"
                  (click)="checkBoxChange(checkTodas)"></p-checkbox>
      <div style="margin-top: 7px; margin-left: 5px">
        <label> Todas </label>
      </div>
    </div>
    <p-table [value]="pessoas" [scrollable]="true" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <i class="pi pi-user" style="color: #9C27B0; margin-top: 20px"></i>
          <th style="color: #9C27B0">NOME</th>
          <i class="pi pi-credit-card" style="color: #9C27B0; margin-top: 20px"></i>
          <th style="color: #9C27B0">CPF</th>
          <i class="pi pi-envelope" style="color: #9C27B0; margin-top: 20px"></i>
          <th style="color: #9C27B0">E-MAIL</th>
          <i class="pi pi-star-fill" style="color: #9C27B0; margin-top: 20px"></i>
          <th style="color: #9C27B0">STATUS</th>
          <i class="pi pi-flag" style="color: #9C27B0; margin-top: 20px"></i>
          <th style="color: #9C27B0">PERFIL</th>
          <i class="pi pi-play" style="color: #9C27B0; margin-top: 20px"></i>
          <th style="color: #9C27B0">AÇÕES</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoas>
        <tr>
          <td>{{pessoas.nome}}</td>
          <td>{{pessoas.cpf | cpf}}</td>
          <td>{{pessoas.email}}</td>
          <td>{{pessoas.status}}</td>
          <td>{{pessoas.perfil}}</td>
          <td>
            <button *ngIf="pessoas.status != 'Excluído'"
                    pButton pRipple type="button"
                    icon="pi pi-pencil" (click)="editar(pessoas)"
                    class="p-button-rounded p-button-info p-button-text"></button>
            <button *ngIf="pessoas.status != 'Excluído'"
                    pButton pRipple type="button"
                    icon="pi pi-trash" (click)="excluir(pessoas.id)"
                    class="p-button-rounded p-button-danger p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <div class="col">
    <div>
      <button style=" float: right; margin-top: 5px; margin-left: 5px"
              pButton type="button"
              label="Nova Pessoa"
              class="p-button-outlined p-button-help"
              routerLink="/pessoa-cadastro"></button>
    </div>
    <div>
      <button style=" float: right; margin-top: 5px"
              pButton type="button"
              label="Novo Time"
              class="p-button-outlined p-button-help"
              routerLink="/time-cadastro"></button>
    </div>
  </div>
</div>
